@model _315Singleton.Models.TodoCreateVm

@{
    ViewBag.Title = "Create";
}

<h1>@Model.Greeting</h1>

@using(Html.BeginForm()){
    <div>
        @Html.LabelFor(m => m.Task)<br />
        @Html.TextBoxFor(m => m.Task)<br />
    </div>
    <div>
        <input type="submit" value="create" />
    </div>
    
}